
.product{
    padding: 6rem 0;
}

.product-wrapper{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.product-wrapper>div{
    flex:1;
}
.product-wrapper>div.middle{
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.product-wrapper>div img{
    width: 100%;
}

.product-wrapper>div:first-child,
.product-wrapper>div:last-child{
    flex: 0.2;
}

.product-wrapper>div:first-child,
.product-wrapper>div:last-child{
    font-size: 18px;
}